data/xsd/HotelService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.opentravel.org/OTA/2003/05"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	attributeFormDefault="unqualified" elementFormDefault="qualified"
	targetNamespace="http://www.opentravel.org/OTA/2003/05">
	<xs:element name="OTA_HotelSearchRQ">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="RQType">
					<xs:sequence>
						<xs:element name="Criteria" type="CriteriaType">
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="OTA_HotelSearchRS">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="RSType">
					<xs:sequence>
						<xs:element name="Properties" type="PropertiesType">
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>


	<xs:complexType name="CriteriaType">
		<xs:sequence minOccurs="1" maxOccurs="unbounded">
			<xs:element name="Criterion" type="CriterionType"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="POSType">
		<xs:sequence>
			<xs:element name="Source" type="SourceType"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SourceType">
		<xs:sequence>
			<xs:element name="RequestorID" type="RequestorIDType" minOccurs="0" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
		<xs:attribute name="ISOCountry">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="2"></xs:length>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ISOCurrency">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="3"></xs:length>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="RequestorIDType">
		<xs:attribute name="Type" type="xs:int"></xs:attribute>
		<xs:attribute name="ID" type="xs:string"></xs:attribute>
		<xs:attribute name="ID_Context" type="xs:string"></xs:attribute>
	</xs:complexType>

	<xs:complexType name="CriterionType">
		<xs:sequence>
			<xs:element name="Position" type="PositionType"
				maxOccurs="1" minOccurs="0"></xs:element>
			<xs:element name="Address" type="AddressType" maxOccurs="1"
				minOccurs="0"></xs:element>
			<xs:element name="RefPoint" type="RefPointType" maxOccurs="1"
				minOccurs="0"></xs:element>
			<xs:element name="HotelRef" type="HotelRefType"
				maxOccurs="unbounded" minOccurs="0"></xs:element>
			<xs:element name="Radius" type="RadiusType" maxOccurs="1"
				minOccurs="0"></xs:element>
			<xs:element name="StayDateRange" type="DateRangeType"
				maxOccurs="1" minOccurs="0">
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="RefPointType" mixed="true">
	</xs:complexType>

	<xs:complexType name="PositionType">
		<xs:attribute name="Latitude" type="xs:double"></xs:attribute>
		<xs:attribute name="Longitude" type="xs:double"></xs:attribute>
	</xs:complexType>

	<xs:complexType name="RadiusType">
		<xs:attribute name="Distance" type="xs:int">
			<xs:annotation>
				<xs:documentation>Integer is according to OTA which allows
					[0-9]{1-16} strings only</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DistanceMeasure">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="K"></xs:enumeration>
					<xs:enumeration value="M"></xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="UnitOfMeasureCode">
			<xs:simpleType>
				<xs:restriction base="xs:int">
					<xs:enumeration value="1"></xs:enumeration>
					<xs:enumeration value="2"></xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="AddressType">
		<xs:sequence>
			<xs:element name="StreetNmbr" type="xs:string"
				maxOccurs="1" minOccurs="0">
			</xs:element>
			<xs:element name="AddressLine" type="xs:string"
				maxOccurs="1" minOccurs="0">
			</xs:element>
			<xs:element name="CityName" type="xs:string"></xs:element>
			<xs:element name="PostalCode" type="xs:string"
				maxOccurs="1" minOccurs="0">
			</xs:element>
			<xs:element name="StateProv" type="xs:string" maxOccurs="1"
				minOccurs="0"></xs:element>
			<xs:element name="CountryName" type="CountryNameType" maxOccurs="1"
				minOccurs="0">
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CountryNameType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="Code">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:length value="2"></xs:length>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="DateRangeType">
		<xs:attribute name="Start" type="xs:date"></xs:attribute>
		<xs:attribute name="End" type="xs:date"></xs:attribute>
	</xs:complexType>

	<xs:complexType name="HotelRefType">
		<xs:attribute name="ChainCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="2"></xs:length>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="HotelCode" type="xs:string"></xs:attribute>
	</xs:complexType>

	<xs:complexType name="RQType">
		<xs:sequence>
			<xs:element name="POS" type="POSType"></xs:element>
		</xs:sequence>
		<xs:attribute name="EchoToken" type="xs:string"></xs:attribute>
		<xs:attribute name="TimeStamp" type="xs:dateTime"></xs:attribute>
		<xs:attribute name="PrimaryLangID" type="xs:string"></xs:attribute>
		<xs:attribute name="Version" type="xs:string" use="required"></xs:attribute>
	</xs:complexType>

	<xs:complexType name="RSType">
		<xs:sequence>
			<xs:element name="POS" type="POSType" maxOccurs="1" minOccurs="0">
			</xs:element>
			<xs:choice maxOccurs="1" minOccurs="0">
				<xs:element name="Success" type="xs:string">
				</xs:element>
				<xs:element name="Error" type="xs:string">
				</xs:element>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="EchoToken" type="xs:string"></xs:attribute>
		<xs:attribute name="TimeStamp" type="xs:dateTime"></xs:attribute>
		<xs:attribute name="Version" type="xs:string" use="required"></xs:attribute>
	</xs:complexType>

	<xs:complexType name="PropertiesType">
		<xs:sequence>
			<xs:element name="Property" type="PropertyType"
				maxOccurs="unbounded" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PropertyType">
		<xs:sequence>
			<xs:element name="Address" type="xs:string" maxOccurs="1"
				minOccurs="0"></xs:element>
			<xs:element name="TPA_Extensions" type="TPA_ExtensionsType"
				maxOccurs="1" minOccurs="0"></xs:element>
			<xs:element name="Position" type="PositionType"
				maxOccurs="1" minOccurs="0"></xs:element>
		</xs:sequence>
		<xs:attribute name="ChainCode" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="2"></xs:length>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="HotelCode" type="xs:string"></xs:attribute>
		<xs:attribute name="HotelCityCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="3"></xs:length>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="HotelName" type="xs:string"></xs:attribute>
	</xs:complexType>

	<xs:complexType name="BasicPropertyInfoType">
		<xs:sequence>
			<xs:element name="VendorMessages" type="VendorMessagesType"
				maxOccurs="1" minOccurs="0"></xs:element>
			<xs:element name="Position" type="PositionType"
				maxOccurs="1" minOccurs="0"></xs:element>
			<xs:element name="Address" type="AddressType" maxOccurs="1"
				minOccurs="0"></xs:element>
			<xs:element name="Award" type="AwardType" maxOccurs="unbounded"
				minOccurs="0"></xs:element>
			<xs:element name="ContactNumbers" type="ContactNumbersType" maxOccurs="1"
				minOccurs="0"></xs:element>
			<xs:element name="TPA_Extensions" type="TPA_ExtensionsType"
				maxOccurs="1" minOccurs="0"></xs:element>
		</xs:sequence>
		<xs:attribute name="ChainCode" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="2"></xs:length>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="HotelCode" type="xs:string"></xs:attribute>
		<xs:attribute name="HotelCityCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="3"></xs:length>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="HotelName" type="xs:string"></xs:attribute>
	</xs:complexType>

	<xs:complexType name="VendorMessagesType">
		<xs:sequence>
			<xs:element name="VendorMessage" type="VendorMessageType"
				maxOccurs="unbounded" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="VendorMessageType">
		<xs:sequence>
			<xs:element name="SubSection" type="VendorMessageSubSectionType"
				maxOccurs="unbounded" minOccurs="0"></xs:element>
		</xs:sequence>
		<xs:attribute name="InfoType" type="xs:integer"></xs:attribute>
	</xs:complexType>

	<xs:complexType name="VendorMessageSubSectionType">
		<xs:sequence>
			<xs:element name="Paragraph" type="VendorMessageParagraphType"
				maxOccurs="unbounded" minOccurs="0"></xs:element>
		</xs:sequence>
		<xs:attribute name="SubTitle" type="xs:string"></xs:attribute>
	</xs:complexType>

	<xs:complexType name="VendorMessageParagraphType">
		<xs:sequence>
			<xs:element name="Text" type="VendorMessageTextType" maxOccurs="1" minOccurs="0">
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="VendorMessageTextType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="TextFormat" type="xs:string"></xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	
	<xs:complexType name="ContactNumbersType">
		<xs:sequence>
			<xs:element name="ContactNumber" type="ContactNumberType"
				maxOccurs="unbounded" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ContactNumberType">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="PhoneNumber" type="xs:string"></xs:attribute>
		<xs:attribute name="PhoneTechType" type="xs:integer"></xs:attribute>
	</xs:complexType>
	
	
	<xs:complexType name="AwardType">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="Provider" type="xs:string"></xs:attribute>
		<xs:attribute name="Rating" type="xs:string"></xs:attribute>
	</xs:complexType>
	
	
	<xs:complexType name="TPA_ExtensionsType">
		<xs:sequence>
			<xs:element name="HotelImageURI" type="xs:string"
				maxOccurs="unbounded" minOccurs="0">
			</xs:element>
			<xs:element name="StarRating" maxOccurs="1" minOccurs="0">			
			  <xs:simpleType>
				<xs:union>
				  <xs:simpleType>
					<xs:restriction base='xs:string'>
					  <xs:length value="0"/>
					</xs:restriction>
				  </xs:simpleType>
				  <xs:simpleType>
					<xs:restriction base='xs:float'>
					</xs:restriction>
				  </xs:simpleType>
				</xs:union>
			  </xs:simpleType>
			</xs:element>
            <xs:element name="GDS_InfoType" type="GDS_InfoTypeType" maxOccurs="1" minOccurs="0">
			</xs:element>
            <xs:element name="CustomFields" type="CustomFieldsType" maxOccurs="1" minOccurs="0">
			</xs:element>
        </xs:sequence>
	</xs:complexType>

	<xs:complexType name="CustomFieldsType">
		<xs:sequence>
			<xs:element name="CustomField" maxOccurs="unbounded" minOccurs="0">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="Name" type="xs:string"></xs:attribute>
							<xs:attribute name="Value" type="xs:string"></xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="GDS_InfoTypeType">
		<xs:sequence>
			<xs:element name="GDS_Codes" type="GDS_CodesType"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="GDS_CodesType">
		<xs:sequence>
			<xs:element name="GDS_Code" type="GDS_CodeType"
				maxOccurs="unbounded" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="GDS_CodeType">
		<xs:attribute name="GDS_PropertyCode" type="xs:string">
		</xs:attribute>
		<xs:attribute name="GDS_Name" type="xs:string"></xs:attribute>
	</xs:complexType>
	<xs:element name="OTA_HotelAvailRQ">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="RQType">
					<xs:sequence>
						<xs:element name="AvailRequestSegments" type="AvailRequestSegmentsType">
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="OTA_HotelAvailRS">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="RSType">
					<xs:sequence>
						<xs:element name="RoomStays" type="RoomStaysType"
							maxOccurs="unbounded" minOccurs="0">
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="AvailRequestSegmentsType">
		<xs:sequence>
			<xs:element name="AvailRequestSegment" type="AvailRequestSegmentType"
				maxOccurs="1" minOccurs="1"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AvailRequestSegmentType">
		<xs:sequence>
			<xs:element name="HotelSearchCriteria" type="HotelSearchCriteriaType">
			</xs:element>
			<xs:element name="StayDateRange" type="DateRangeType">
			</xs:element>
			<xs:element name="RoomStayCandidates" type="RoomStayCandidatesType"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="HotelSearchCriteriaType">
		<xs:sequence>
			<xs:element name="Criterion" type="CriterionType"
				maxOccurs="unbounded" minOccurs="1"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="RoomStayCandidatesType">
		<xs:sequence>
			<xs:element name="RoomStayCandidate" type="RoomStayCandidateType"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="RoomStayCandidateType">
		<xs:sequence>
			<xs:element name="GuestCounts" type="GuestCountsType"></xs:element>
		</xs:sequence>
		<xs:attribute name="Quantity" type="xs:int"></xs:attribute>
	</xs:complexType>

	<xs:complexType name="GuestCountsType">
		<xs:sequence>
			<xs:element name="GuestCount" type="GuestCountType"
				maxOccurs="unbounded" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="GuestCountType">
		<xs:attribute name="AgeQualifyingCode" type="xs:int"></xs:attribute>
		<xs:attribute name="Count" type="xs:int"></xs:attribute>
	</xs:complexType>

	<xs:complexType name="RoomStaysType">
		<xs:sequence>
			<xs:element name="RoomStay" type="RoomStayType"
				maxOccurs="unbounded" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="RoomStayType">
		<xs:sequence>
			<xs:element name="RoomTypes" type="RoomTypesType"
				maxOccurs="unbounded" minOccurs="0">
			</xs:element>
			<xs:element name="RatePlans" type="RatePlansType">
			</xs:element>
			<xs:element name="RoomRates" type="RoomRatesType"
				maxOccurs="1" minOccurs="0">
			</xs:element>
			<xs:element name="GuestCounts" type="GuestCountsType"
				maxOccurs="1" minOccurs="0">
			</xs:element>
			<xs:element name="TimeSpan" type="DateRangeType"
				maxOccurs="1" minOccurs="0">
			</xs:element>
			<xs:element name="Guarantee" type="GuaranteeType"
				maxOccurs="1" minOccurs="0">
			</xs:element>
			<xs:element name="BasicPropertyInfo" type="BasicPropertyInfoType"
				maxOccurs="1" minOccurs="0">
			</xs:element>
			<xs:element name="Total" type="BaseType"
				maxOccurs="1" minOccurs="0">
			</xs:element>
			<xs:element name="Comments" type="CommentsType"
				maxOccurs="1" minOccurs="0">
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="RatePlansType">
		<xs:sequence>
			<xs:element name="RatePlan" type="RatePlanType"
				maxOccurs="unbounded" minOccurs="1"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="RoomRatesType">
		<xs:sequence>
			<xs:element name="RoomRate" type="RoomRateType"
				maxOccurs="unbounded" minOccurs="1"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="RatePlanType">
		<!-- <xs:sequence>
			<xs:element name="CancelPenalties" type="CancelPenaltiesType"
				maxOccurs="1" minOccurs="0">
			</xs:element>
			<xs:element name="RatePlanDescription" type="DescriptionType"
				maxOccurs="1" minOccurs="0"></xs:element>
		</xs:sequence> -->
		<xs:attribute name="AvailabilityStatus" type="xs:string"></xs:attribute>
		<xs:attribute name="AvailableQuantity" type="xs:int"></xs:attribute>
		<xs:attribute name="RatePlanCode" type="xs:string"></xs:attribute>
	</xs:complexType>

	<xs:complexType name="RoomRateType">
		<xs:sequence>
			<xs:element name="Rates" type="RatesType" maxOccurs="1"
				minOccurs="0">
			</xs:element>

			<xs:element name="RateDescription" type="DescriptionType"
				maxOccurs="1" minOccurs="0">
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Amount" type="xs:decimal"></xs:attribute>
		<xs:attribute name="CurrencyCode" type="xs:string"></xs:attribute>
		<xs:attribute name="RatePlanCode" type="xs:string"></xs:attribute>
		<xs:attribute name="RoomTypeCode" type="xs:string"></xs:attribute>
		<xs:attribute name="Start" type="xs:date"></xs:attribute>
	</xs:complexType>

	<xs:complexType name="RatesType">
		<xs:sequence>
			<xs:element name="Rate" type="RateType" maxOccurs="unbounded"
				minOccurs="1"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="RateType">
		<xs:sequence>
			<xs:element name="Base" type="BaseType"></xs:element>
			<xs:element name="RateDescription" type="DescriptionType"
				maxOccurs="1" minOccurs="0"></xs:element>
		</xs:sequence>
		<xs:attribute name="EffectiveDate" type="xs:date"></xs:attribute>
		<xs:attribute name="ExpireDate" type="xs:date"></xs:attribute>
		<xs:attribute name="RoomPricingType" type="xs:string"></xs:attribute>
	</xs:complexType>

	<xs:complexType name="BaseType">
		<xs:sequence>
			<xs:element name="Taxes" type="TaxesType"></xs:element>
		</xs:sequence>
		<xs:attribute name="AmountBeforeTax" type="xs:string">
		</xs:attribute>
		<xs:attribute name="AmountAfterTax" type="xs:string">
		</xs:attribute>
		<xs:attribute name="CurrencyCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="3"></xs:length>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="DescriptionType">
		<xs:sequence>
			<xs:element name="Text" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="RoomDescriptionType">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="Name" type="xs:string" use="required"></xs:attribute>
	</xs:complexType>


	<xs:element name="OTA_HotelBookingRuleRQ">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="RQType">
					<xs:sequence>
						<xs:element name="RuleMessage" type="RuleMessageType">
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="OTA_HotelBookingRuleRS">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="RSType">
					<xs:sequence>
						<xs:element name="RuleMessage" type="RuleMessageType"
							maxOccurs="1" minOccurs="0"></xs:element>
						<xs:element name="GuestCounts" type="GuestCountsType"
							maxOccurs="1" minOccurs="0"></xs:element>
						<xs:element name="BookingRules" type="BookingRulesType"
							maxOccurs="1" minOccurs="0"></xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="RuleMessageType">
		<xs:sequence>
			<xs:element name="StatusApplication" type="StatusApplicationType">
			</xs:element>
		</xs:sequence>
		<xs:attribute name="HotelCityCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="3"></xs:length>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="HotelCode" type="xs:string"></xs:attribute>
		<xs:attribute name="HotelName" type="xs:string"></xs:attribute>
	</xs:complexType>

	<xs:complexType name="StatusApplicationType">
		<xs:sequence>
			<xs:element name="RoomRates" type="RoomRatesType"
				maxOccurs="1" minOccurs="0"></xs:element>
		</xs:sequence>
		<xs:attribute name="Start" type="xs:date"></xs:attribute>
		<xs:attribute name="End" type="xs:date"></xs:attribute>
		<xs:attribute name="RatePlanCode" type="xs:string"></xs:attribute>
	</xs:complexType>

	<xs:complexType name="BookingRulesType">
		<xs:sequence>
			<xs:element name="BookingRule" type="BookingRuleType"
				maxOccurs="1" minOccurs="1"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="BookingRuleType">
		<xs:sequence>
			<xs:element name="AcceptableGuarantees" type="AcceptableGuaranteesType"
				maxOccurs="1" minOccurs="0"></xs:element>
			<xs:element name="CancelPenalties" type="CancelPenaltiesType"	
				maxOccurs="1" minOccurs="0"></xs:element>
			<xs:element name="RequiredPaymts" type="RequiredPaymtsType"
				maxOccurs="1" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AcceptableGuaranteesType">
		<xs:sequence>
			<xs:element name="AcceptableGuarantee" type="AcceptableGuaranteeType"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CancelPenaltiesType">
		<xs:sequence>
			<xs:element name="CancelPenalty" type="CancelPenaltyType"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="RequiredPaymtsType">
		<xs:sequence>
			<xs:element name="GuaranteePayment" type="GuaranteePaymentType"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AcceptableGuaranteeType">
		<xs:sequence>
			<xs:element name="GuaranteeDescription" type="DescriptionType"></xs:element>
		</xs:sequence>
		<xs:attribute name="GuaranteeCode" type="xs:int"></xs:attribute>
	</xs:complexType>

	<xs:complexType name="CancelPenaltyType">
		<xs:sequence>
			<xs:element name="PenaltyDescription" type="DescriptionType"
				maxOccurs="1" minOccurs="0"></xs:element>
			<xs:element name="Deadline" type="DeadlineType"
				maxOccurs="1" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="DeadlineType">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="AbsoluteDeadline" type="xs:time"></xs:attribute>
		<xs:attribute name="OffsetDropTime" type="xs:string"></xs:attribute>
		<xs:attribute name="OffsetTimeUnit" type="xs:string"></xs:attribute>
		<xs:attribute name="OffsetUnitMultiplier" type="xs:integer"></xs:attribute>
	</xs:complexType>

	<xs:complexType name="GuaranteePaymentType">
		<xs:sequence>
			<xs:element name="Description" type="DescriptionType">
			</xs:element>
		</xs:sequence>
		<xs:attribute name="PaymentCode" type="xs:int"></xs:attribute>
	</xs:complexType>
	<xs:element name="OTA_HotelResRQ">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="RQType">
					<xs:sequence>
						<xs:element name="UniqueID" type="UniqueIDType"></xs:element>
						<xs:element name="HotelReservations" type="HotelReservationsType">
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="OTA_HotelResRS">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="RSType">
					<xs:sequence>
						<xs:element name="HotelReservations" type="HotelReservationsType">
						</xs:element>
					</xs:sequence>
					<xs:attribute name="ResResponseType" type="ResResponseTypeType"></xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="ResResponseTypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Cancelled"></xs:enumeration>
			<xs:enumeration value="Committed"></xs:enumeration>
			<xs:enumeration value="Ignored"></xs:enumeration>
			<xs:enumeration value="Modified"></xs:enumeration>
			<xs:enumeration value="OnHold"></xs:enumeration>
			<xs:enumeration value="Pending"></xs:enumeration>
			<xs:enumeration value="PendingCancellation"></xs:enumeration>
			<xs:enumeration value="PendingPurchase"></xs:enumeration>
			<xs:enumeration value="RequestDenied"></xs:enumeration>
			<xs:enumeration value="Requested"></xs:enumeration>
			<xs:enumeration value="Reserved"></xs:enumeration>
			<xs:enumeration value="Ticketed"></xs:enumeration>
			<xs:enumeration value="Unchanged"></xs:enumeration>
			<xs:enumeration value="Unsuccessful"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="HotelReservationsType">
		<xs:sequence>
			<xs:element name="HotelReservation" type="HotelReservationType"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="HotelReservationType">
		<xs:sequence>
			<xs:element name="RoomStays" type="RoomStaysType">
			</xs:element>
			<xs:element name="ResGuests" type="ResGuestsType">
			</xs:element>
			<xs:element name="ResGlobalInfo" type="ResGlobalInfoType"
				maxOccurs="1" minOccurs="0">
			</xs:element>
			<xs:element name="TPA_Extensions" type="TPA_ExtensionsType"
				maxOccurs="1" minOccurs="0">
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ResGuestsType">
		<xs:sequence>
			<xs:element name="ResGuest" type="ResGuestType"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ResGuestType">
		<xs:sequence>
			<xs:element name="Profiles" type="ProfilesType"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ProfilesType">
		<xs:sequence>
			<xs:element name="ProfileInfo" type="ProfileInfoType"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ProfileInfoType">
		<xs:sequence>
			<xs:element name="UniqueID" type="UniqueIDType"
				maxOccurs="1" minOccurs="0"></xs:element>
			<xs:element name="Profile" type="ProfileType"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ProfileType">
		<xs:sequence>
			<xs:element name="Customer" type="CustomerType"
				maxOccurs="1" minOccurs="0"></xs:element>
		</xs:sequence>
		<xs:attribute name="ProfileType" type="xs:integer" use="optional"></xs:attribute>
	</xs:complexType>

	<xs:complexType name="CustomerType">
		<xs:sequence>
			<xs:element name="PersonName" type="NameType"></xs:element>
			<xs:element name="Telephone" type="TelephoneType"
				maxOccurs="1" minOccurs="0">
			</xs:element>
			<xs:element name="Email" type="xs:string" maxOccurs="1"
				minOccurs="0"></xs:element>
			<xs:element name="Address" type="AddressType" maxOccurs="1"
				minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="NameType">
		<xs:sequence>
			<xs:element name="NamePrefix" type="xs:string" maxOccurs="1"
				minOccurs="0"></xs:element>
			<xs:element name="GivenName" type="xs:string"></xs:element>
			<xs:element name="Surname" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TelephoneType">
		<xs:attribute name="PhoneNumber" type="xs:string"></xs:attribute>
	</xs:complexType>


	<xs:complexType name="ResGlobalInfoType">
		<xs:sequence>
			<xs:element name="Memberships" type="MembershipsType"
				maxOccurs="1" minOccurs="0">
			</xs:element>

			<xs:element name="HotelReservationIDs" type="HotelReservationIDsType"
				maxOccurs="1" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="MembershipsType">
		<xs:sequence>
			<xs:element name="Membership" type="MembershipType"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="MembershipType">
		<xs:sequence>
			<xs:element name="ProgramCode" type="xs:string"></xs:element>
			<xs:element name="AccountID" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="RoomTypesType">
		<xs:sequence>
			<xs:element name="RoomType" type="RoomTypeType"
				maxOccurs="unbounded" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="RoomTypeType">
		<xs:sequence>
			<xs:element name="RoomDescription" type="RoomDescriptionType"
				maxOccurs="1" minOccurs="0"></xs:element>
		</xs:sequence>
		<xs:attribute name="NumberOfUnits" type="xs:int" use="optional"></xs:attribute>
		<xs:attribute name="RoomTypeCode" type="xs:string"></xs:attribute>
	</xs:complexType>


	<xs:complexType name="GuaranteeType">
		<xs:sequence>
			<xs:element name="GuaranteesAccepted" type="GuaranteesAcceptedType"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="GuaranteesAcceptedType">
		<xs:sequence>
			<xs:element name="GuaranteeAccepted" type="GuaranteeAcceptedType"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="GuaranteeAcceptedType">
		<xs:sequence>
			<xs:element name="PaymentCard" type="PaymentCardType"></xs:element>
		</xs:sequence>
		<xs:attribute name="GuaranteeTypeCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">

					<xs:length value="2"></xs:length>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="PaymentCardType">
		<xs:sequence>
			<xs:element name="CardHolderName" type="xs:string">
			</xs:element>
			<xs:element name="Address" type="AddressType"></xs:element>
		</xs:sequence>
		<xs:attribute name="CardCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">

					<xs:length value="2"></xs:length>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="CardNumber" type="xs:string"></xs:attribute>
		<xs:attribute name="ExpireDate">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="4"></xs:length>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="HotelReservationIDsType">
		<xs:sequence>
			<xs:element name="HotelReservationID" type="HotelReservationIDType"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="HotelReservationIDType">
		<xs:attribute name="ResID_Source" type="xs:string" use="optional"></xs:attribute>
		<xs:attribute name="ResID_Type" type="xs:string" use="optional"></xs:attribute>
		<xs:attribute name="ResID_Value" type="xs:string" use="optional"></xs:attribute>
	</xs:complexType>

	<xs:complexType name="TaxesType">
		<xs:sequence>
			<xs:element name="Tax" type="TaxType" minOccurs="1" maxOccurs="1"></xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="TaxType">
		<xs:attribute name="Amount" type="xs:decimal" use="required"></xs:attribute>
		<xs:attribute name="Code" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="3"></xs:length>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="CurrencyCode" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="3"></xs:length>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	
	
	<xs:element name="OTA_ReadRQ">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="RQType">
					<xs:sequence>
						<xs:element name="ReadRequests" type="ReadRequestsType">
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>


	<xs:complexType name="ReadRequestsType">
		<xs:sequence>
			<xs:element name="ReadRequest" type="ReadRequestType"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ReadRequestType">
		<xs:sequence>
			<xs:element name="UniqueID" type="UniqueIDType"></xs:element>
			<xs:element name="Verification" type="VerificationType"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="UniqueIDType">
		<xs:attribute name="ID" type="xs:string"></xs:attribute>
		<xs:attribute name="ID_Context" type="xs:string" use="optional"></xs:attribute>
		<xs:attribute name="Type" type="xs:int"></xs:attribute>
	</xs:complexType>

	<xs:complexType name="VerificationType">
		<xs:sequence>
			<xs:element name="PersonName" type="NameType"></xs:element>
			<xs:element name="TelephoneInfo" type="TelephoneInfoType" 
				minOccurs="0" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="TelephoneInfoType">
		<xs:attribute name="PhoneNumber" type="xs:string"></xs:attribute>
	</xs:complexType>
	
	
	<xs:element name="OTA_CancelRQ">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="RQType">
					<xs:sequence>
						<xs:element name="UniqueID" type="UniqueIDType">
						</xs:element>
					</xs:sequence>
					<xs:attribute name="CancelType" type="xs:string">
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="OTA_CancelRS">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="RSType">
					<xs:sequence>
						<xs:element name="UniqueID" type="UniqueIDType">
						</xs:element>
						<xs:element name="CancelInfoRS" type="CancelInfoRSType"
							minOccurs="0" maxOccurs="1">
						</xs:element>
					</xs:sequence>
					<xs:attribute name="Status" type="xs:string">
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="CancelInfoRSType">
		<xs:sequence>
			<xs:element name="UniqueID" type="UniqueIDType"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CommentsType">
		<xs:sequence>
			<xs:element name="Comment" type="xs:string" maxOccurs="unbounded" minOccurs="1"></xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
